.loginForm {
    text-align: center;
    font-size: 20px;
    background-color: #BFD7B5;
    width: 60%;
    margin: 0 auto;
    padding: 100px 50px;
    border-radius: 15px;
}

.loginForm input[type="submit"] {
    display: block;
    margin: 10px auto 0;
    background-color: #d2d0d0;
    font-weight: bold;
    padding: 10px;
    border: 5px solid green;
    cursor: pointer;
    transition: .3s;
}

.loginForm input[type="submit"]:hover {
    background-color: white;
}